.container{
    display:flex;
    font-family:Arial;
}
nav a{
    flex:1;
    font-size:25px;
    color:white;
    text-decoration:none;
    background-color:red;
    text-align:center;
    padding:10px;
    transition:0.5s
}
#banner{
    justify-content:center;
    align-items:center;
    background-color:darkblue;
    color:white;
}
nav a:hover{
    flex:1;
    background-color:darkblue;
    color:white;
    transition:0.5s;
}
#main{
    padding:15px;
}
.column{
    flex-direction:column;
}
.center{
    align-items:center;
    justify-content:center;
}
.bottom{
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}
img{
    border-radius:15px;
    
}
.center{
    padding:15px;
    font-size:20px;
}
.card{
    margin:10px;
    padding:10px;
    border:1px solid;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}
#footer{
    background-color:darkblue;
    color:white;
    padding:10px;
}
.history-text{
    font-size:22px;
}