.container{
    display:flex;
    font-family:Arial;
}
nav a{
    flex:1;
    font-size:25px;
    color:white;
    text-decoration:none;
    background-color:red;
    padding:15px;
}
#banner{
    justify-content:center;
    align-items:center;
    background-color:darkblue;
    color:white;
}